body {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
}

h1 {
  font-size: 5em;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
}

img {
  max-width: 100px;
}
nav {
  text-align: center;
}
nav button {
  border: 1px solid black;
}

.wish {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.current {
  background: lightslategray;
}
